{% extends 'base.html.twig' %}

{% block title %}Autoübersicht{% endblock %}

{% block body %}
    <h2>Autoübersicht</h2>
    <table>
        <thead>
            <tr>
                <th> Bezeichnung </th>
                <th> Kennzeichnen </th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr>
                    <td> {{car.description}}</td>
                    <td> {{car.plate}}</td>
                    <td> <a href="{{path('app_car_update', {'id': car.id})}}">bearbeiten</a> | <a href="{{path('app_car_delete', {'id': car.id})}}" onclick="return confirm('Soll das Auto wirklich gelöscht werden?');">Löschen</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
