{% extends 'base.html.twig' %}

{% block title %}Neue Fahrt hinzufügen{% endblock %}

{% block body %}
    <h1>Neue Fahrt hinzufügen</h1>

    {{ include('trip/_form.html.twig') }}

    <a href="{{ path('app_trip_index') }}">Zurück zur Übersicht</a>
{% endblock %}
